<Config>
  <S>0</S>
  <I>JkICkk34SNfxc472gifcW8GZL6Acesuu</I>
  <PO>obsVFo7oWzSuqnEO4DIGmQ==</PO>
  <U>G5UHkvOPtil4jjAcWf4uEQ==</U>
  <P>qZfAZGH6Fs4=</P>
  <BL>D:\</BL>
  <IL>v/Le4uMys0EcUHSoqLu7yGLmlUe5tWYBLYE2IMleyDA=</IL>
  <POL>obsVFo7oWzSuqnEO4DIGmQ==</POL>
  <UL>G5UHkvOPtil4jjAcWf4uEQ==</UL>
  <PL>qZfAZGH6Fs4=</PL>
</Config>