<Config>
  <S>0</S>
  <I>JkICkk34SNfxc472gifcW8GZL6Acesuu</I>
  <PO>obsVFo7oWzSuqnEO4DIGmQ==</PO>
  <U>G5UHkvOPtil4jjAcWf4uEQ==</U>
  <P>qZfAZGH6Fs4=</P>
  <BL>E:\</BL>
  <IL>JkICkk34SNfxc472gifcW8GZL6Acesuu</IL>
  <POL>obsVFo7oWzSuqnEO4DIGmQ==</POL>
  <UL>G5UHkvOPtil4jjAcWf4uEQ==</UL>
  <PL>qZfAZGH6Fs4=</PL>
</Config>